{% extends '_base.html' %}

{% block title %}
    Summaries for {{ book.title }}
{% endblock title %}

{% block content %}
    <h2 class="mb-4">Summaries for {{ book.title }}</h2>
    <a class="btn btn-outline-success mb-4" href="{% url 'create_summary' book.pk %}">New Summary</a>

    <div>
    {% for summary in summary_list %}
        <div class="list-entry">
            <h3>{{ summary.title }}</h3>
            <h6 class="mb-3">{{ summary.date }} (Pages {{ summary.start }} - {{ summary.end }})</h6>
            <p>{{ summary.summary }}</p>
            <a class="btn btn-outline-warning mr-3" href="{% url 'summary_edit' book.pk summary.pk %}">Edit</a>
            <a class="btn btn-outline-danger" href="{% url 'summary_delete' book.pk summary.pk %}">Delete</a>
        </div>
    {% endfor %}
    </div>
        
{% endblock content %}